@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap");

:root {
  --main-color: #184a91;
  --text-color: #404040;
  --text-color-button: #ffffff;

  --default-shadow: 0px 0px 10px rgb(0, 0, 0, 0.7);
  --default-border-radius: 0.4rem;
  --default-radius: 0.4rem;
}

body {
  margin: 0;
  padding: 0;
}

body * {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
  padding: 0;

  text-decoration: none;

  box-sizing: border-box;
}

h1 {
  font-size: 32px;
  color: var(--main-color);
  text-align: center;
  margin: 1rem 0;
}

h2 {
  font-size: 28px;
  color: var(--main-color);
}

ul {
  list-style: none;
}

b,
a {
  color: var(--main-color);
  font-size: inherit;
  
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.grid {
  display: grid;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding: 1em;
}

.card {
  box-shadow: var(--default-shadow);
  padding: 1rem;
}
